<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {%extends 'base.html' %}
    {%block title%} Añade una categoría {%endblock%}
    {%block content%}
    
    <!-- Cargar los tags de crispy -->
    {% load crispy_forms_tags %}

            
        {% if user.is_authenticated %}

            <h1 class="alert alert-success">Añadir categoría</h1>
            <br>
            <div class="form-group"></div>
                <table>
                    <form method="POST">
                        {% csrf_token %}
                        <!-- Usar el filtor de crispy -->
                        {{form|crispy}}
                </table>
                <br>
                <a href="{%url 'home' %}" class="btn btn-dark">Atrás</a>
                <button class="btn btn-primary">Añadir</button>
            </div>

        {% else %}
        
            <h1>Inicie sesión para realizar esta acción...</h1>

        {% endif %}

    {%endblock%}

</body>
</html>

