<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {%extends 'base.html' %}

    
    {%block title%} {{post.title_tag}} {%endblock%}

    {%block content%}

        <h1 class="alert alert-primary">{{post.titulo}}</h1>

        <div class="card">
            <small>By: {{post.author.first_name}} {{post.author.last_name}} - {{post.post_date}}

            {% if user.is_authenticated%}
                {% if user.id == post.author.id %}
                    <a href="{% url 'update' post.pk %}">- | Editar |</a>
                    <a href="{% url 'delete' post.pk %}">Eliminar |</a></small><br/>
                {% endif %}
            
            {% endif %}
            <img class="card-img-top" src="{{ post.header_image.url }}" alt="Card image cap" style=" align-self:center; width: 30vh;">
            <div class="card-body">
                <p class="card-text">{{post.contenido}}</p>
            </div>
        </div>
        <br>
        
        <br>
        <hr size="8px" color="gray"/>
        
        <form action="{% url 'like_post' post.pk %}" method="POST">
            {% csrf_token %}

            <a href="{%url 'home' %}" class="btn btn-dark">Atrás</a>
        {% if user.is_authenticated%}
            {% if liked %}
                <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-danger">Ya no me gusta</button> 

            {% else %}

                <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary">Me gusta</button>
                
            {% endif %}
            
        {% else %}
            <a href="{% url 'login' %}">Iniciar sesión</a>
            para dar "Me gusta"
        {% endif %}
            |  {{ total_likes }} Me gusta
        </form>
        <hr size="8px" color="gray"/>
        <div class="card">
            <div class="card-header">
                <h2>Comentarios:</h2>
            </div>
            <div class="card-body">
                {% if not post.comments.all %}
                <p class="card-text">Aun no hay comentarios...</p>
                {% else %}
                    {% for comment in post.comments.all %}
                        <p class="card-text">
                            <strong>{{ comment.name }} - {{ comment.date_added }}</strong>
                            <br>
                            {{ comment.contenido }}
                            <br><br>
                        </p>
                    {% endfor %}
                {% endif %}
              
              <a href="{% url 'add_comment' post.pk %}" class="btn btn-primary">Añade un comentario!</a>
            </div>
          </div>

        <br>
    {%endblock%}
</body>
</html>