<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {%extends 'base.html' %}
    
    {%block title%} Categorias {%endblock%}

    {%block content%}

    <h1 class="alert alert-primary">Categorías</h1>

        {%for item in categoria_lista_menu %}
            <h4><a class="dropdown-item" href="{% url 'add_category' item|slugify %}">{{item}}</a></h4>     
            <br>
        {%endfor%}

    {%endblock%}
</body>
</html>