<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {%extends 'base.html' %}
    {%block title%} Crea nueva pubicación! {%endblock%}
    {%block content%}

    {% if user.is_authenticated %}

        <h1>Añadir publicación...</h1>
        <br><br>
        <div class="form-group"></div>
            <table>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_table }}
            </table>
            <br>
            <button class="btn btn-success">Publicar</button>
        </div>

        <script>
            var name= "{{ user.id }}";
            document.getElementById("admin").value = name;
        </script>

    {% else %}
    
        <h1>Inicie sesión para realizar esta acción...</h1>

    {% endif %}

    {%endblock%}

</body>
</html>

