<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {%extends 'base.html' %}
    {%block title%} Crea nueva pubicación! {%endblock%}
    {%block content%}
    {% load crispy_forms_tags %}

    {% if user.is_authenticated %}

    <h1 class="alert alert-success">Añadir publicación</h1>
    <div class="form-group"></div>
    
    <form method="POST" enctype="multipart/form-data">
    <table>
        {% csrf_token %}
        {{form|crispy}}
    </table>
    <a href="{%url 'home' %}" class="btn btn-dark">Atrás</a>
    <button class="btn btn-primary">Publicar</button>
    

    </div>
    <br>

    <script>
        var name = "{{ user.id }}";
        document.getElementById("admin").value = name;
    </script>

    {% else %}

    <h1>Inicie sesión para realizar esta acción...</h1>

    {% endif %}

    {%endblock%}

</body>

</html>