<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {%extends 'base.html' %}
    {%block title%} Iniciar sesión {%endblock%}
    {%block content%}
    {% load crispy_forms_tags %}

    <h1  class="alert alert-dark">Iniciar sesión:</h1>
    <br>
    <div class="form-group"></div>
        <table>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
        </table>
        <br>
        <button class="btn btn-dark">Iniciar sesión</button>
        <br>
        <small>No estás registrado aún? registrate haciendo <a href="{% url 'register' %}"> click aquí</a></small>
    </div>

    {%endblock%}

</body>
</html>

